<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>chairbot dashboard</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="node_modules/angular/angular.min.js" charset="utf-8"></script>
    <script src="node_modules/angular-bootstrap/dist/ui-bootstrap-tpls.min.js" charset="utf-8"></script>
    <script src="node_modules/moment/min/moment.min.js" charset="utf-8"></script>
    <script src="node_modules/angular-moment/angular-moment.min.js" charset="utf-8"></script>
    <script src="dashboard.js" charset="utf-8"></script>
  </head>
  <body ng-app="chairbotDashboard">
    <div id="dashboard" ng-controller="DashboardController">

      <div id="preferences" ng-controller="PrefsController">
        <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">settings</button>
        <hr>
        <div collapse="isCollapsed">
          <div class="well well-lg">
            <form class="form-inline" ng-submit="saveUserPrefs(); isCollapsed = !isCollapsed">
              <div class="form-group">
                <label for="limit">limit (minutes)</label>
                <input class="form-control" type="number" name="limit" ng-model="limit">
              </div>
              <div class="form-group">
                <label for="spacing">reminder spacing (seconds)</label>
                <input class="form-control" type="number" name="spacing" ng-model="spacing">
              </div>
              <div class="form-group">
                <label for="duration">reminder duration (milliseconds)</label>
                <input class="form-control" type="number" name="duration" ng-model="duration">
              </div>
              <button type="submit" class="btn btn-default">save</button>
            </form>
          </div>
        </div>
      </div>

      <div id="sessions">
        <h1>{{ data.allTimeTotal }} hours seated this week</h1>
        <h1>{{data.sessions.length }} sessions</h1>
        <div class="session" ng-controller="SessionController" ng-repeat="session in data.sessions track by $index">
          {{ session.duration }} minute session <span am-time-ago="session.end"></span>
          <textarea ng-model="note" ng-blur="saveNote(note, $index)"></textarea>
          <rating ng-model="rate" max="max" ng-click="saveRating(rate, $index)" tabindex="-1"></rating>
        </div>
      </div>

    </div>

  </body>
</html>
