<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>chairbot dashboard</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style.css">
    <script src="node_modules/angular/angular.min.js" charset="utf-8"></script>
    <script src="dashboard.js" charset="utf-8"></script>
  </head>
  <body ng-app="chairbotDashboard">
    <div id="dashboard" ng-controller="DashboardController">

      <h1>preferences</h1>
      <form id="preferences" ng-submit="saveUserPrefs()">
        <label for="limit">limit</label>
        <input type="number" name="limit" ng-model="limit">
        <label for="spacing">reminder spacing (seconds)</label>
        <input type="number" name="spacing" ng-model="spacing">
        <label for="duration">reminder duration (milliseconds)</label>
        <input type="number" name="duration" ng-model="duration">
        <button type="submit">save</button>
      </form>

      <h1>sessions</h1>

      <div id="sessions">
        <div class="session" ng-repeat="session in data.sessions">
        ended: {{session.end }}, duration: {{ session.duration }}
        </div>
      </div>

    </div>

  </body>
</html>
