body {
  font-family: 'Lato', sans-serif;
  margin-left: 30px;
  margin-top: 10px;
}


/*.form-control {
  width: 30px;
}*/

/*input {
  width: 30px;
}*/

/*.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*/

input:focus,
select:focus,
textarea:focus,
.btn:focus,
span:focus {
    outline: none;
}

textarea:focus {
  outline: none;
  background-color: #333;
  color: white;
}

.title {
  float: left;
  display: inline;
  font-size: 56px;
  margin-top: 0;
}

#preferences button {
  margin-left: 20px;
  margin-top: 20px;
  /*float: left;*/
}

label {
  padding-left: 20px;
  padding-right: 10px;
  font-size: 22px;
}

.session {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ddd;
  padding: 20px;
}

textarea {
  display: block;
  resize: none;
  padding: 10px;
  width: 350px;
  height: 120px;
}

.rating {
  display: block;
  font-size: 42px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  /*color: yellow;*/
}

#sessions {
  /*float: left;*/
  margin-top: 40px;
  margin-left: 80px;
  width: 400px;
}

#day, #week {
  position: fixed;
  left: 750px;
}

#day {
  font-size: 56px;
  top: 250px;
}

#week {
  font-size: 56px;
  top: 500px;
}

#week span {
  color: #A5243D
}

#day span {
  color: #559CAD
}
