body {
  font-family: 'Lato', sans-serif;
  margin-left: 30px;
  margin-top: 10px;
}


/*.form-control {
  width: 30px;
}*/

/*input {
  width: 30px;
}*/

/*.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*/

/*input:focus,
select:focus,
textarea:focus,
button:focus,*/
span:focus {
    outline: none;
}

textarea:focus {
  outline: none;
  background-color: #ddd;
  /*color: white;*/
}

.title {
  float: left;
  display: inline;
  font-size: 56px;
  margin-top: 0;
}

#preferences button {
  margin-left: 20px;
  margin-top: 20px;
  /*float: left;*/
}

label {
  padding-left: 20px;
  padding-right: 10px;
  font-size: 22px;
}

.session {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

textarea {
  display: block;
  resize: none;
}

.rating {
  display: block;
  font-size: 42px;
  /*color: yellow;*/
}

#sessions {
  margin-left: 40px;
}
