body {
  font-family: 'Lato', sans-serif;
}

/*input {
  display: block;
}*/

label {
  padding-left: 20px;
  padding-right: 10px;
  font-size: 18px;
}

.session {
  margin-top: 10px;
  margin-bottom: 10px;
}
